{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jasoseol</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
</head>
<body>

   

    <div class="container">
        {% if user.is_authenticated %}
            <p>{{user}}님 안녕하세요!
            <a href="{% url 'logout' %}">
                <button>로그아웃</button>
            </a></p>
        {% else %}
            <a href="{% url 'register' %}">
                <button>회원가입</button>
            </a>
            <a href="{% url 'login' %}">
                <button>로그인</button>
            </a>
        {% endif %}
            

        <div class="make_jss">
            <div class="Go_btn">
                <a href="{% url 'create' %}">
                    +
                </a>
            </div>
            <h3>자기소개서 작성</h3>
        </div>
        {% if user.is_authenticated %}
        <div>
            <a href="{% url 'my_jss' %}"><button>내 자기소개서만 보기</button></a>
            <a href="{% url 'index' %}"><button>모든 자기소개서 보기</button></a>
        </div>
        {% endif %}
        <br><br>
    
        {% for jss in myjss %}
        <a href="{% url 'detail' jss.id %}">
            <div class="my_jss">
                <p>{{jss.title}}</p>
                <p>{{jss.updated_at|date:"Y-m-d"}}</p>
                <p>{{jss.author}}</p>
            </div>
        </a>
        {% endfor %}
    </br>
    
</body>
</html>